<div class="page">
  <div class="page__header">
    <h1>Brandon A. Welsh</h1>
    <h2><%= params[:search] ? params[:search] : 'Ruby on Rails' %></h2>
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordian</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card box-shadow">
        <div class="search">
          <div class="content">
            <%= form_with(url: "/page", method: "get", local: true) do %>
              <i class="fa fa-search  icon"></i>
              <%= text_field_tag :search, "", class: 'search__bar', placeholder: 'Search' %>
              <%= link_to 'Reset', page_path, class: 'search__reset'  %>
              <%= submit_tag "Search", class: 'search__submit'  %>
            <% end %>
          </div>
        </div>
        <% @videos.each do |data| %>
          <div class="row">
            <div class="content">
              <div class="arrow"></div>
              <h1><%= data["snippet"]["title"]%></h1>
              <h1><%= data["snippet"]["channelTitle"]%></h1>
              <h2><%= Date.parse(data["snippet"]["publishedAt"]).strftime("%B %-d, %Y")%></h1>
            </div>
            <div id=<%= data["id"]%> class="video-info">
              <div class="col-left">
                <a href="https://www.youtube.com/watch?v=<%=data["id"]%>">
                  <img src=<%= data["snippet"]["thumbnails"]["medium"]["url"] %>>
                </a>
              </div>
              <div class="col-right">
                <p class="info-title">Description</p>
                <p class="desc">
                  <%= data["snippet"]["description"]%>
                </p>
              </div>
              <table class="video-details">
                <tr>
                  <th class="info-title">View Count</th>
                  <th class="info-title">Like Count</th>
                  <th class="info-title">Tags</th>
                </tr>
                <tr>
                  <td style="width:25%"><%= data["statistics"]["viewCount"] %></td>
                  <td style="width:25%"><%= data["statistics"]["likeCount"] %></td>
                  <td><%= data["snippet"]["tags"]&.join(", ") %></td>
                </tr>
              </table>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        <div class="graph">
          <svg id="graph" width="1000" height="500"></svg>
        </div>
      </div>
    </div>
  </div>

  <div class="page__footer">
  </div>
  <script>
    <% stats = @videos.map { |video| 
          video["statistics"]
          .merge({"title" => video["snippet"]["title"]}) 
        } 
    %>

    var data = <%= stats.to_json.html_safe %>;

    drawGraph(data)
  </script>
</div>
